@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: synthwave --default;
}




/* @plugin "daisyui/theme" {
  name: "corporate";
  default: true;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(14% 0.004 49.25);
  --color-base-200: oklch(21% 0.006 56.043);
  --color-base-300: oklch(26% 0.007 34.298);
  --color-base-content: oklch(97% 0.001 106.424);
  --color-primary: oklch(82% 0.12 346.018);
  --color-primary-content: oklch(28% 0.109 3.907);
  --color-secondary: oklch(85% 0.138 181.071);
  --color-secondary-content: oklch(27% 0.046 192.524);
  --color-accent: oklch(85% 0.138 181.071);
  --color-accent-content: oklch(27% 0.046 192.524);
  --color-neutral: oklch(37% 0.01 67.558);
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(68% 0.162 75.834);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
} */



/* --color-error: oklch(58% 0.253 17.585);
--color-error-content: oklch(96% 0.015 12.422); */

/* 8/10 */
/* synthwave --default; */

/* 0/10 */
/* cupcake */

/* 0/10 */
/* cupcake */



.font-1 {
    font-family: "Inter", sans-serif;
  }
  
  .font-2 {
    font-family: "Titillium Web", sans-serif;
  }
  